streamlit
pandas
numpy
sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
scikit-learn
matplotlib
Levenshtein
spacy==3.4.4
dateutil
functools
tqdm
IPython
gc
lime
