streamlit
pandas
numpy
sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
scikit-learn
matplotlib
Levenshtein
spacy
json
os
dateutil
functools
tqdm
IPython
gc
lime
